#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/adc/adc.h>

/ {
	zephyr,user {
		/* ACS712 divided outputs: left A0/PA0, right A2/PA4, servo A3/PB0. */
		io-channels = <&adc1 0>, <&adc1 4>, <&adc1 8>;
	};
	steering_servo: steering-servo {
		compatible = "lab,steering-servo";
		/* Initial hobby-servo assumption: 20 ms period (50 Hz), active high. */
		pwms = <&pwm2 2 PWM_MSEC(20) PWM_POLARITY_NORMAL>;
	};
	blinkers {
		compatible = "gpio-leds";
		left_blinker: left_blinker {
			gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
		};
		right_blinker: right_blinker {
			gpios = <&gpioc 10 GPIO_ACTIVE_HIGH>;
		};
	};
	motors {
		compatible = "lab,l298-motors";
		/* ENA/ENB: TIM3 CH1/CH2, 10 kHz (8400 ticks at 84 MHz). */
		pwms = <&pwm3 1 PWM_HZ(10000) PWM_POLARITY_NORMAL>,
		       <&pwm3 2 PWM_HZ(10000) PWM_POLARITY_NORMAL>;
		/* IN1, IN2, IN3, IN4 respectively. */
		direction-gpios = <&gpioc 4 GPIO_ACTIVE_HIGH>,
				  <&gpioc 5 GPIO_ACTIVE_HIGH>,
				  <&gpioc 6 GPIO_ACTIVE_HIGH>,
				  <&gpioc 7 GPIO_ACTIVE_HIGH>;
	};
	/* Weak pull-downs hold disconnected inputs quiet; verify sensor levels. */
	encoders {
		compatible = "lab,quadrature-encoders";
		left-gpios = <&gpioc 0 GPIO_PULL_DOWN>, <&gpioc 1 GPIO_PULL_DOWN>;
		right-gpios = <&gpioc 2 GPIO_PULL_DOWN>, <&gpioc 3 GPIO_PULL_DOWN>;
	};
};

&timers3 {
	status = "okay";
	pwm3: pwm {
		status = "okay";
		pinctrl-0 = <&tim3_ch1_pb4 &tim3_ch2_pb5>;
		pinctrl-names = "default";
	};
};

/* Keep steering on TIM2 so its 50 Hz period cannot change motor TIM3's 10 kHz PWM. */
&pwm2 {
	pinctrl-0 = <&tim2_ch1_pa5 &tim2_ch2_pa1>;
	pinctrl-names = "default";
};

&adc1 {
	pinctrl-0 = <&adc1_in0_pa0 &adc1_in4_pa4 &adc1_in8_pb0>;
	pinctrl-names = "default";
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	/* Long acquisition time is an initial choice for externally conditioned signals. */
	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
	channel@8 {
		reg = <8>;
		zephyr,gain = "ADC_GAIN_1";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_MAX>;
		zephyr,resolution = <12>;
	};
};
